<p>
  Hi There! This application is a side-project that I did during my free time. <br>
  This application was actually a programming challenge from one of the start-up company in San Fransisco. <br>
  This company gathers dashcam data from their own dashcam kit and sells them to companies that are developing technology for an autonomous self-driving car such as Tesla and Google. <br>
  They are using this dashcam data as part of their big data source for training their machine learning algorithm to accomplish a completely autonomous self-driving car. <br>
</p>
