<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{active: activeContent == 'dashboard'}">
        <a class="nav-link" href="#" (click)="switchContent('dashboard')">Dashboard</a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeContent == 'list'}">
        <a class="nav-link" href="#" (click)="switchContent('list')">Dashcam Data Bank</a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeContent == 'about'}">
        <a class="nav-link" href="#" (click)="switchContent('about')">About</a>
      </li>
    </ul>
  </div>
</nav>