<app-navigation-bar (switchContentEvent)="switchContent($event)"></app-navigation-bar>

<app-dashboard *ngIf="activeContent === 'dashboard'"></app-dashboard>

<app-trip-list *ngIf="activeContent === 'list'"></app-trip-list>

<app-about *ngIf="activeContent === 'about'"></app-about>