button.chart {
    width: 100%;
    margin-bottom: 5%;
}

.card {
    margin: 1%;
}

.map-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trip-list {
    width: 18%;
}

.modal-lg {
    max-width: 1200px;
}

.spinner-border {
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

#interactive-map { 
    height: 600px;
    width: 80%;
}
