<div class="card">
  <div class="card-body">
    <h5 class="card-title">Chyfer 1.0.0 - Overview</h5>
    <div class="map-data">
      <div id="interactive-map"></div>
      <div class="trip-list">
        <div class="alert alert-dark" role="alert">
          Uploaded This Week:
          <em>111</em>
        </div>
        <div class="alert alert-dark" role="alert">
          Total Recorded Trip:
          <em>{{ totalTrip }}</em>
        </div>
        <div class="alert alert-dark" role="alert">
          Total Trip Distance:
          <em>{{ totalTripDistance | number: '1.0-2' }} Km</em>
        </div>
        <div class="alert alert-dark" role="alert">
          Average Trip Distance:
          <em>{{ averageTripDistance | number: '1.0-2' }} Km</em>
        </div>
        <div class="alert alert-dark" role="alert">
          Average Trip Speed:
          <em>{{ averageTripSpeed | number: '1.0-2' }} Km/h</em>
        </div>
        <div class="alert alert-dark" role="alert">
          First Trip Date:
          <em>{{ firstTripDate | date: 'M/d/yy, h:mm a' }}</em>
        </div>
        <div class="alert alert-dark" role="alert">
          Last Trip Date:
          <em>{{ lastTripDate | date: 'M/d/yy, h:mm a' }}</em>
        </div>
        <button type="button" class="btn btn-dark chart speed-button" data-toggle="modal" data-target="#speed-distribution-modal">
          Overall Speed Distribution
        </button>
        <button type="button" class="btn btn-dark chart distance-button" data-toggle="modal" data-target="#distance-distribution-modal">
          Overall Distance Distribution
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg speed-modal" id="speed-distribution-modal" tabindex="-1" role="dialog" aria-labelledby="speed-distribution-label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="speed-distribution-label">Overall Speed Distribution Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="speed-distribution"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg distance-modal" id="distance-distribution-modal" tabindex="-1" role="dialog" aria-labelledby="distance-distribution-label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="distance-distribution-label">Overall Distance Distribution Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="distance-distribution"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>