<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="card" *ngIf="!isLoading">
    <div class="input-group mb-3">
        <span>
            <em>Start time</em>
        </span>
        <input type="date" class="form-control">
        <span>
            <em>End time</em>
        </span>
        <input type="date" class="form-control">
        <button class="btn btn-outline-secondary" type="button">Filter</button>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No. </th>
                    <th scope="col">Start time</th>
                    <th scope="col">End time</th>
                    <th scope="col">Duration (Minute)</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trip of tripData; index as i" [hidden]="i >= activePage * 10 || i < activePage * 10 - 10">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ trip.start_time | date:'MMM d, y, h:mm:ss a' }}</td>
                    <td>{{ trip.end_time | date:'MMM d, y, h:mm:ss a' }}</td>
                    <td>{{ getTripDuration(trip.start_time, trip.end_time) }}</td>
                    <td>
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#trip-detail-modal" (click)="updateTripDetail(trip)">Trip detail</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="page-navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{'disabled': showedPage === 0}">
                    <a class="page-link next" href="#" (click)="changePagination(true)">
                        <em>Previous</em>
                    </a>
                </li>
                <li *ngFor="let page of totalPage" class="page-item" [ngClass]="{'active': activePage === page}" [hidden]="page > showedPage + 10 || page < showedPage">
                    <a class="page-link" href="#" (click)="changeActivePage(page)">{{ page }}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': showedPage + 10 > totalPage.length }">
                    <a class="page-link next" href="#" (click)="changePagination(false)">
                        <em>Next</em>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="trip-detail-modal" tabindex="-1" role="dialog" aria-labelledby="trip-detail-label"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trip-detail-label">Trip {{ tripId }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map">
                </div>
                <div class="information">
                    <br>
                    <div class="alert alert-dark" role="alert">
                        Distance Traveled:
                        <em>{{ totalDistance }} Km</em>
                    </div>
                    <div class="alert alert-dark" role="alert">
                        Average Speed:
                        <em>{{ averageSpeed }} Km/h</em>
                    </div>
                    <div class="alert alert-dark" role="alert">
                        <a href="#" class="download" (click)="downloadJSONFile()">
                            <em>Download JSON</em>
                        </a>
                    </div>
                    <div class="alert alert-dark" role="alert">
                        <a href="#" class="download">
                            <em>Download Dashcam MP4</em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>