td, th {
    text-align: center;
}

input {
    margin-right: 2%;
}

span {
    margin-right: 1%;
}

a.download {
    color: black;
    text-decoration: underline;
}

.pagination>li>a {
    color: #343A40;
    border-color: #fff;
}

.pagination>li>a.next {
    background: #343A40;
    color: #fff;
}

.pagination>li.active>a {
    background: #343A40;
    color: #fff;
}

.pagination>li.disabled>a {
    background: #fff;
    color: #343A40;
}

.card {
    margin: 1%;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    margin: 1%;
}

.spinner-border {
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

.information {
    float: left;
    margin-left: 5%;
}

#map {
    float: left;
    height: 400px;
    width: 60%;
}